/*css styles for admin page*/
/*=========================*/

html,body{
    background-color: ghostwhite;
}

/* navigation bar */
#label-data{
    font-size: 16px;
    color: white;
}

 /*!*center of page*!*/
#div-tablets, #div-phones{
    margin-bottom: 40px;
}

#form-search{
    float: right;
}

.tab-content{
    margin-left: 15px;
}
#div-donate{
    margin: 20px;
    float: left;
}
.admin-th,.admin-td {
    text-align: center;
    border: 1px solid black;
    white-space: nowrap;
}

#l-search{
    margin-left: 10px;
}

/* new benefit form*/
#choose-device{
    width: 195px;
    /*margin-top: 81px;*/
    /*margin-left: 108px;*/
}

#b_e-choose-device{
    width: 195px;
}

#form-date{
    width: 195px;
}
.th-form{
    border: none;
    padding: 2px;
}
.td-form{
    border: none;
    padding: 2px;
}