/*css styles for admin page*/
/*=========================*/

html,body{
    height: 100%;
}

/* navigation bar */
#div-user{
    margin-top: 5px;
    margin-right: 40px;
}

#label-data{
    font-size: 16px;
    color: white;
}

#div-logout{
    font-size: 10px;
    float: right;
}

#a-admin{
    margin-top: 7px;
    margin-right: 25px;
    float: right;
}

/* center of page */
#div-center{
    background-color: ghostwhite;
    margin-top: -20px;
    min-height: 90%;
}

#div-table{
    background-color: ghostwhite;
    min-height: 78vh;
}

tr {
    width: 100%;
    border: 1px solid black;
}

/*tr:hover {} - interakce na mys*/

th,td {
    text-align: center;
    border: 1px solid black;
}

table{
    min-height: 85vh;
    border-collapse: collapse;
}

/* scrolling body*/
tbody{
    overflow-y: scroll;
    height: 90%;
    position: absolute;
}

/* control pane*/
#div-control{
    background-color: ghostwhite;
    min-height: 78vh;
    float: right;
}

/* info pane */
#div-info{
    background-color: ghostwhite;
    min-height: 43vh;
    padding: 45px;
}

/* edit pane */
#div-edit{
    background-color: ghostwhite;
    min-height: 45vh;
}

#new_b{
    padding: 20px;
}

#edit_b{
    padding: 20px;
}