/*css styles for home page and login page*/
/*=======================================*/

/* dark bg */
.bg-1 {
    background-color: #2f2f2f;
    color: #fff;
}

/* footer */
.navbar-fixed-bottom {
    padding-top: 10px;
}

#form{
    margin-top: 60px;
}

/* navigation bar*/
.navbar {
    font-size: 12px;
}

/* all img in login*/
.img-responsive {
    position: relative;
    margin-top: 180px;
    margin-bottom: 135px;
    opacity: 0.7;
}